@{
    ViewData["Title"] = "Home Page";
}

<div class="text-lg-center">
    <h1 class="display-4">TPS = Technological Problem Solvers</h1>
    <h2>based in Richmond, IN</h2>
    <h3>Meet our developers:</h3>
    <p>Lawson, AKA: <a href="https://www.juggernott81.com">JuggernOtt81</a></p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
