@{
	ViewData["Title"] = "Home Page";
}

<div class="text-lg-center">
	<h1 class="display-4">Technological Problem Solvers</h1>
	<h4>based in Richmond, IN</h4>

</div>
<br />
<div class="text-center">
	<h1 class="display-4">Welcome</h1>
</div>
<br />
<br />
<div>
	<h3>Doesn’t your business <em>deserve</em> to exist in the 21st century?</h3>
</div>
<div>
	<p>
		<b>TPS</b> (Technological Problem Solvers) is your local Tech-spert (Tech-Expert).
	</p>
	<p>
		<b>Be seen by people who are always looking at their screens:</b><br />
		You know it does, but without implementing current technology,
		most of your would-be customers don’t!
		<br />Very few people watch TV or listen to the radio anymore,
		let alone read the newspaper or even glance at flyers or posters.
		<br />
		We can build your websites and mobile apps.
	</p>
	<p>
		<b>Technology can be expensive, only buy what you NEED!</b><br />
		Not sure what hardware your staff needs? They might say they need a
		$5000 computer for their work, but may only really need a $300 station
		for basic data entry. Then again, a $100 netbook won’t help much when
		rendering 3D models and animation. It can be confusing, especially
		when you need to focus on the day-to-day operations of your business.
		<br />
		We can help you find the right tech solutions to fit your needs (without overspending!)
	</p>
	<p>
		<b>LAN and other network configurations</b><br />
		Are your connections slow? Does the WiFi fail to cover the whole office?
		Need to expand? Need local backup storage? Battery backup to prevent data loss?
		<br />
		We can design and build out your local network.
	</p>
	<p>
		<b>Home Services:</b>
		<br />
		We also setup home networks, home entertainment systems, make your house "smart", almost anything!
	</p>
	<p>
		<b>Repairs and Sales</b>
		<br />
		We do repairs and sales of used equipment. Slightly older, but still quite capable PCs and related tech. Looking for a deal? Here it is!
	</p>
</div>
<div class="text-lg-start">
	<h5>Meet our team:</h5>
	Lawson, AKA: <a href="https://www.juggernott81.com">JuggernOtt81</a> - Hardware, Logic, "Big Picture"<br />
	Daniel, AKA: <a href="#">Daniel@email.com</a> - UI, Aesthetics, "Details"
</div>